@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar-track {
  background-color: #93b5e1;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #221f3b;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4a4577;
}

.inner-prob-container::-webkit-scrollbar,
.inner-op-div::-webkit-scrollbar {
  width: 0.4rem;
}

.inner-prob-container::-webkit-scrollbar-thumb,
.inner-op-div::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #0f4c75;
}

h1 {
  font-size: 2rem;
}

hr {
  border-bottom: black 5px solid;
  width: 25%;
  border-radius: 1500px;
}

.navbar {
  background-color: white;
  padding: 15px 195px;
  font-family: "Lato", sans-serif;
  animation: fillwhite 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fillblack {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
}

.color-black {
  animation: fillblack 0.5s;
  animation-fill-mode: forwards;
}

.color-black a {
  color: white;
}

.color-black button {
  color: white;
}

@keyframes fillwhite {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}

nav button {
  border: none;
  outline: none;
}
nav button:focus {
  outline: none;
  border: none;
  content: "X";
}

.navbar-brand img {
  width: 100px;
}

a {
  color: black;
  font-weight: bold;
}

.active {
  border-bottom: 4px #0070f3 solid;
}

.nav-item {
  margin-left: 3.5rem;
}

h5 {
  color: black;
  font-weight: 750;
}

.win {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 18px;
}

.proj {
  max-width: 100%;
  height: 200px;
  transition: transform 0.5s;
  border-radius: 10px 10px 0px 0px;
}

.proj:hover {
  transform: scale(1.2);
  transition-timing-function: ease-in-out;
}

.winner-card p {
  font-weight: 700;
  font-size: 1rem;
}

.card-img {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.winner-card p,
h5 {
  font-family: "Lato", sans-serif;
}

.winner-card .col-lg-12 {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0px;
  transition: transform 0.2s;
  transition-timing-function: ease-in-out;
}

.winner-card .col-lg-12:hover {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: transform 0.15s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

h1 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.homepage-top img {
  max-width: 100%;
  padding: 0;
}

.head {
  margin: 10% 0px;
}

.signup-btn {
  margin-left: 40%;
}

.signup-btn button {
  background-color: #0070f3;
  border: none;
  outline: none;
  color: white;
  font-weight: bolder;
  padding: 10px 0;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.3);
}

.signup-btn button:hover {
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.7);
}

.bio {
  max-width: 100%;
  word-wrap: break-word;
  padding: 10px 25px;
}

.footer {
  background-color: black;
  box-shadow: 0 -5px 14px 0 rgba(0, 0, 0, 0.39);
  color: white;
}

.footer h5 {
  color: white;
}

.footer .col-lg-12 {
  padding: 10px 0px 0px 0px;
}

.footer img {
  max-width: 30%;
}

.cp-text {
  margin-left: 120px;
}

.footer hr {
  border-top: 1px white solid;
  width: 200px;
}

.pl-5 {
  padding-left: 100px !important;
}

.editor {
  background-color: #0e3244;
}

.editor h2 {
  font-size: 1.5rem;
}

.editor row {
  height: 630px;
}

#pt-btn,
#run-btn,
#sub-btn {
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 3px 10px;
  box-shadow: 0px 0px 100px black;
  border-top-right-radius: 7px;
}

.loading {
  background-color: #0f4c75;
}

#sub-btn:disabled {
  background-color: grey;
  text-decoration: line-through;
}

#l-selector,
#l-selector-1,
#l-selector-2 {
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0 10px;
}

#l-selector option,
#l-selector-1 option,
#l-selector-2 option {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

#pt-btn {
  background-color: #f35588;
}

#run-btn {
  background-color: #09db1a;
  padding: 0px 15px;
}

#sub-btn {
  background-color: #0070f3;
}

#l-selector {
  border-radius: 0;
  background-color: #0070f3;
}

#l-selector-1 {
  background-color: #184d47;
}

#l-selector-2 {
  background-color: orangered;
  border-radius: 0;
}

.code-editor,
.ps,
.output {
  background-color: #0f4c75;
  color: white;
  font-family: "Lato", sans-serif;
  box-shadow: 0px 0px 3px black inset;
  font-size: 1.1rem;
  border-radius: 7px;
  overflow: hidden;
}

.ps {
  height: 630px;
}
.code-editor {
  height: 350px;
}
.output {
  height: 256px;
}

.editor-head {
  background-color: black;
  border-top-left-radius: 7px;
}

.editor-head-editor {
  background-color: black;
  box-shadow: inset 2px black;
}

.content {
  height: 585px;
  overflow-y: scroll;
}

.content-editor {
  height: 500px;
  overflow: hidden;
}

.content-op {
  height: 210px;
  overflow-y: scroll;
}

.ps-table {
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.19);
}

.black {
  background-color: black;
  color: white;
  font: "Lato";
}

tr:hover {
  background-color: rgb(221, 220, 220);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.39);
  cursor: pointer;
}

.profile-container {
  background-color: rgb(245, 245, 245);
  margin: 50px auto;
  width: 50%;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.29);
}


a:hover {
  cursor: pointer;
}
.login-container {
  display: flex !important;
  background-color: rgb(255, 255, 255, 0.9);
  width: 100%;
  position: absolute;
  z-index: 2;
}
.inner-main-login {
  width: 30%;
}
.inner-login-container {
  margin-top: 100px;
  background-color: #ebecf1;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 10px;
}

.login-container input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  margin: 0px 0px 20px 0px;
  padding: 0px 30px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0px 0px 5px #0070f3 inset;
  background-color: #bad0e9;
  font-weight: bold;
}

.login-container input::placeholder {
  font-weight: bold;
}

.login-container button {
  background-color: #0070f3;
  outline: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 3px 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.3);
  border-radius: 7px;
}

.login-container button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.login-header-container {
  background-color: black;
  border-radius: 10px 10px 0px 0px;
  color: white;
  justify-content: center;
  margin-bottom: 30px;
}

.login-header-container h4 {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 7px 0;
}

.login-header-container button {
  margin-bottom: 0;
  background-color: red;
  border-radius: 0px 10px 0px 0px;
  padding: 6.5px 13px;
  font-size: 1.4rem;
}

.login-heading {
  margin-left: 23%;
}

textarea {
  width: 95%;
  outline: none;
  border: none;
  color: black;
  padding: 5px 10px;
  height: 100px;
  resize: none;
  box-shadow: inset 0px 0px 6px rgba(0, 118, 255, 0.3);
}

.profile-container-edit input {
  box-shadow: inset 0px 0px 6px rgba(0, 118, 255, 0.3);
  outline: none;
  border: none;
  color: blue;
  font-weight: bold;
  height: 30px;
  width: 60%;
  padding: 20px 10px;
  font-size: 1.2rem;
}

.content {
  display: flex;
  flex-direction: column;
}
.gutter {
  background: #093e49;
}

.gutter:hover {
  cursor: move;
  background: #665656;
}

.main-editpage-div {
  width: 100%;
  height: 630px;
  background-color: #093e49;
}

.main-editpage-div h2 {
  font-size: 1.5rem;
}

.prob-container {
  height: 598px;
}

.op-container,
.prob-container {
  background-color: #246c7a;
  color: white;
}

.op-container,
.prob-container,
.editor-container {
  border-radius: 10px;
}

.inner-prob-container {
  height: 555px;
  overflow-y: scroll;
}

.header {
  background-color: black;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.tc-div {
  box-shadow: inset black 0px 0px 5px;
}

.tc-div p {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .resp {
    padding-right: 0px !important;
  }
  .footer .col-lg-12 {
    text-align: center;
    padding-left: 0 !important;
    margin-bottom: 30px;
  }
  .text-left {
    text-align: center !important;
  }
  hr {
    display: none;
  }
  .navbar {
    padding: 15px 10px;
  }
  .cp-text {
    padding: 0;
    margin: 0 auto;
  }
  .pb-5 {
    padding-bottom: 0px !important;
  }
  .nav-item {
    margin-left: 0.5rem;
    text-align: center;
  }
  .signup-btn {
    margin: 0 auto;
  }
  .ps-tab-div {
    width: 90% !important;
    margin: 10px auto 40px auto !important;
  }

  .profile-container {
    margin: 10px auto;
    width: 90%;
  }
  .inner-main-login {
    width: 95%;
  }
  .login-heading {
    margin-left: 10%;
  }
  .inner-login-container {
    margin-top: 20px;
  }
  .profile-container-edit input {
    width: 90%;
  }
}

@media screen and (max-width: 993px) {
  .active {
    background-color: white;
    box-shadow: none;
  }
  .active a {
    color: #0070f3;
  }
}

@media screen and (max-width: 475px) {
  #l-selector-2,
  #l-selector-1 {
    display: none;
  }
}
